*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    color: #ffffff;
    background-color: #3b2a4b;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.modoClaro{
    color: #000000;
    background-color: #eeeeee;
}
.barraNavegacion{
    background-color: #1a1221;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    z-index: 1;
}
.modoClaroBarraNvegacion{
    color: #000000;
    background-color: #e0e0e0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 35px;
    font-weight: 500;
    margin: 0;
    width: 100%;
}
ul{
    display: flex;
    align-items: center;
    padding: 0;
}
ul li{
    list-style: none;
}
li button{
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: #1a1221;
    color: #ffffff;
    padding: 10px;
    margin: 0 10px;
}
li button:hover{
    background-color: #3b2a4b;
}
button i {
    margin-right: 5px;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteiner{
    border: 1px solid #ffffff;
    margin-top: 130px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.botonDescargar{
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: #1a9c25;
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
    margin: 40px 0;
}
.botonDescargar:hover{
    background-color: #13771b;
}
aside{
    background-color: #3b2a4b;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 300px;
    padding: 20px;
    overflow: auto;
    position: absolute;
    right: 1px;
    z-index: 2;
}
aside div{
margin: 10px 0;
}
.titulo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.botonEscape{
    border: none;
    outline: none;
    background-color: #251b2f;
    color: #ffffff;
    align-items: flex-end;
    font-size: 25px;
}
.filtros{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
aside{
    background-color: #251b2f;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 300px;
    padding: 20px;
    overflow: auto;
    position: absolute;
    right: 1px;
    z-index: 2;
}
.modoClaroAside{
    color: #000000;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.mostrarAside{
    display: flex;
}
.textoInferiorYSuperior{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fuente{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fuente input{
    width: 100px;
}
.colorYFondo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inputsColorYfondo{
    display: flex;
    justify-content: space-between;
}
.botones{
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: #1a1221;
    color: #ffffff;
    padding: 10px;
}
.inputColor{
    background-color: #1a1221;
    border-radius: 5px;
    padding: 15px 5px;
}
input[type="color"]{
    border: 0;
    border-radius: 5px;
    outline: none;
}